# Dependencies
node_modules/

# Environment variables (IMPORTANT: ne jamais commit les fichiers .env)
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
dist/
build/

# Coverage
coverage/
